body {
    font-family: "Lato", sans-serif;
}

:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --my-bg-color: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 20%,
      #dbdbd3 20%,
      #dbdbd3 100%
    );
}

#app {
    width: 100%;
    height: 100vh;
    background: var(--my-bg-color);
    padding: 20px;
}

.header {
    background-color: var(--color-headers);
}

.contacts {
    background-color: var(--color-white);
}

.h0 {
    height: 0;
}

.contact-list:hover{
    background-color: var(--color-contact-hover);
}

.active {
    background-color: var(--color-dark-grey);
}

.bg-chat {
    background-image: url('../img/mine.jpg');
}

.sent-message, .search-bar {
    background-color: #F3EEEA;
}

img {
    width: 60px;
}

i {
    color: var(--color-light-icons);
}

.notifiche {
    background-color: var(--color-notification);
}

.notifiche i {
    color: var(--color-notification);
    background-color: var(--color-white);
}

.last-message {
    font-size: 13px;
    color: var(--color-text-grey);
}

.send {
    background-color: var(--color-sent-message);
}

.received {
    background-color: var(--color-white);
}

.date {
    font-size: 10px;
    color: var(--color-text-grey);
}